.Notification-div {
  width: 450px;
  padding: 15px;
  padding-bottom: 5px;
  border-radius: 10px;
  border: 1px solid #eaeaea;
  background-color: #043c7c;
}

.Notification-title,
.Notification-details {
  cursor: default;
}

.Notification-title {
  text-align: center;
  color: white;
}

.Notification-details {
  text-align: center;
  color: rgb(253, 251, 251);
  margin: auto 12px;
}

.Notification-toggle {
  width: auto;
  float: right;
  cursor: pointer;
  color: #42d969;
}
