.App-header {
  background-color: #42d969;
  padding: 20px;
}

.App-header p {
  margin: 0;
  color: #043c7c;

  font-size: 2.25em;
  font-weight: 700;
}

.App-heading {
  text-align: center;
  font-size: 3.25em;
}
